/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: sans-serif;
  color: #363636;
}

.navbar, .jumbotron, .post-background{
  background-color: #F8F8F8;
}

.post-background{
  min-width: 180px;
  padding-top: 6px;
  border: 1px white solid;
  border-radius: 5px;
}

.navbar *{
  color: #363636 !important;
}
