/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: sans-serif;
  color: #363636;
}

form{
  display: inline;
}

.navbar, .jumbotron, .post-background{
  background-color: #F8F8F8;
}

.post-background{
  min-width: 180px;
  padding-top: 6px;
  border: 1px white solid;
  border-radius: 5px;
}

.navbar *{
  color: #363636 !important;
}

.underline{
  text-decoration: underline;
}

input[type="text"]{
  font-size: 13px;
  border: 2px #C4C4C4 groove;
  border-radius: 5px;
  background-color: #F0F0F0;
}

#filter-form{
  padding: 12px;
}